morning-tv-ui-local-deploy/private-fonts/*.ttf filter=lfs diff=lfs merge=lfs -text
morning-tv-ui-local-deploy/private-fonts/*.ttc filter=lfs diff=lfs merge=lfs -text
morning-tv-ui-local-deploy/backups/pi_before_deploy_*/pi-working-state.tar.gz filter=lfs diff=lfs merge=lfs -text
