caldav==3.2.1
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
dnspython==2.8.0
h11==0.16.0
icalendar==7.1.2
icalendar-searcher==1.0.6
jh2==5.0.13
lxml==6.1.1
niquests==3.19.1
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
qh3==1.9.2
recurring-ical-events==3.8.2
shiboken6==6.11.1
six==1.17.0
tzdata==2026.2
urllib3-future==2.21.902
vobject==0.9.9
wassima==2.1.1
x-wr-timezone==2.0.1
